@model HuellitasVetWeb.Entidades.Usuario
@{
    ViewData["Title"] = "Inicio de sesión";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<div class="header py-7 py-lg-8 pt-lg-9" style="background-color: #BD7AD5">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                    <h1 class="text-white">Bienvenido!</h1>
                    <p class="text-lead text-white">Recuperar su acceso</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary border-0 mb-0">

                <div class="card-body px-lg-5 py-lg-5">
                    @if (ViewBag.msj != null)
                    {
                        <div class="alert alert-warning text-center" role="alert">
                            @ViewBag.msj

                        </div>
                    }

                    @{
                        if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }

                    }

                    @using (Html.BeginForm("RecuperarAcceso", "Home"))
                    {
                        <div class="form-group mb-3">
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.Identificacion, new { @type = "text", @class = "form-control", @placeholder = "Identificacion", @maxlength = "50", @required = "required" })
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" style="background-color:#855CBA; color:white" type="button" class="btn my-4" onclick="Inicio()">Procesar</button>
                        </div>
                    }

                </div>
            </div>
            <div class="row mt-3">
                
                <div class="col-6 text-right">
                    <a href="@Url.Action("Registro","Home")" class="text-light"><small>Crear una nueva cuenta</small></a>
                </div>
                <div class="col-6">
                    <a href="@Url.Action("InicioSesion","Home")" class="text-light"><small>Iniciar sesión</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/enlace.js"></script>
