@model List<HuellitasVetWeb.Entidades.Servicio>
    

@{

    ViewData["Title"] = "Consultar Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top: 50px;">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Lista de Servicios</h3>
        </div>
        <div class="card-body" style="padding-left: 15px; padding-right: 15px;">
            <div class="table-responsive">
                <table id="tabla" class="table table-bordered dataTable" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="font-size: 12px; font-weight: bold;"><strong>Descripción</strong></th>
                            <th style="font-size: 12px; font-weight: bold;"><strong>Imagen</strong></th>
                            <th style="font-size: 12px; font-weight: bold;"><strong>Precio</strong></th>
                            <th style="font-size: 12px; font-weight: bold;"><strong>Acciones</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr class="odd">
                                <td style="vertical-align: middle">@item.Descripcion</td>
                                <td style="vertical-align: middle; text-align:center">
                                    <img style="width: 230px; height: 230px;" src="@item.RutaImagen"></img>
                                </td>
                                <td style="vertical-align: middle">@item.Precio</td>
                                
                                <td style="text-align: center; vertical-align: middle">
                                    <a class="btn btn-icon btn-primary" style="background-color:#855CBA; color:white; width: 70px; height: 30px; display: inline-flex; align-items: center; justify-content: center;" type="button" href="@(Url.Action("ActualizarServicio","Servicio",new { id = item.IdServicio}))">
                                        Editar 
                                    </a>
                                    <a class="btn btn-icon btn-primary" style="background-color:#855CBA; color:white; width: 80px; height: 30px; display: inline-flex; align-items: center; justify-content: center;" type="button" href="@(Url.Action("EliminarServicio","Servicio",new { id = item.IdServicio, nombre = item.Descripcion}))">
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/page/jquery/jquery.min.js"></script>
